{% extends 'base.html' %}
{% block title %}{{slug}}{% endblock %}

{% block content %}

<section class="py-3">
    <div class="container">
        <h1 class="text-center custom-fw-600 mb-5">{{slug}}</h1>
        <div class="row">
            {% if news %}
            {% for item in news %}
            <div class="col-lg-3 col-sm-6 mb-3">
                <div class="post-card card shadow-sm border-0" bis_skin_checked="1">
                    <div class="loader">
                        {% if item.img is NULL %}
                        <a href="{% url 'viewpost' id=item.id %}">
                            <img src="https://picsum.photos/500/250" class="card-img-top" alt="{{item.post_title}}">
                        </a>
                        {% else %}
                        <a href="{% url 'viewpost' id=item.id %}">
                            <img src="/media/{{item.img}}" class="card-img-top" alt="{{item.post_title}}">
                        </a>
                        {% endif %}
                    </div>

                    <div class="card-body" bis_skin_checked="1">
                        <a href="{% url 'viewpost' id=item.id %}">
                            <h2 class="text-start custom-fw-700 custom-fs-25 text-dark">{{item.post_title}}</h2>
                        </a>
                        <p class="card-text mb-0">
                            {{item.post_body}}
                        </p>
                        <div class="btn-group my-2" bis_skin_checked="1">
                            <small class="text-muted text-capitalize">Posted by <strong>{{item.author}}
                                </strong>
                                <span class="px-2 py-1 bg-black rounded text-white">{{item.category}}</span></small>
                        </div>
                        <small class="text-muted">{{item.date_added}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
            <p class="text-center custom-fs-18 custom-fw-600 my-3">No News found</p>
            {% else %}
            <div class="py-4">
                <h2 class="text-center custom-fw-500 mb-5">No News Yet</h2>
            </div>
            {% endif %}
        </div>

    </div>
</section>
{% endblock %}