{% extends 'base.html' %}
{% block title %}Welcome {{user}}{% endblock %}
{% block content %}
<section class="">
    <div class="container">
        <div class="row" bis_skin_checked="1">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar rounded py-3">

                <div class="sticky-top d-flex justify-content-center align-items-start w-100" id="sidebar">
                    <div class="nav account-nav flex-column  nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link text-white text-capitalize my-2 "><i class="far fa-user-circle"></i>
                          <span class="custom-fs-20 custom-fw-500">{{user}}</span>  </button>
                        <button class="nav-link text-white active " id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true"><i class="far fa-id-card"></i>
                            Profile</button>

                        <button class="nav-link text-white" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false"><i class="far fa-newspaper"></i> My Posts</button>

                        <button class="nav-link text-white" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">Settings</button>
                    </div>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <h1 class="py-2 h2 border-bottom">Account</h1>
                        <section id="profile" class="py-4">
                            <div class="row">
                                <div class="col-sm-7">
                                    <h1 class="h2 text-capitalize">Username : {{user}}</h1>
                                    <h3 class="">First Name : {{user.first_name}}</h3>
                                    <h3 class="">Last Name : {{user.last_name}}</h3>
                                    <h3 class="">Email : {{user.email}}</h3>
                                </div>
                                <div class="col-sm-5">
                                    <div class="profile-img bg-dark">
                                        <i class="far fa-user text-light custom-fs-57"></i>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <h1 class="py-2 h2 border-bottom">Password</h1>
                        <section id="password" class="py-4">
                            <form action="changepassword" method="post">
                                {% csrf_token %}
                                <div class="form-floating mb-3" bis_skin_checked="1">
                                    <input type="passowrd" class="form-control" id="floatingInput"
                                        name='current_password' placeholder="name@example.com">
                                    <label for="floatingInput">Current Password</label>
                                </div>
                                <div class="form-floating mb-3" bis_skin_checked="1">
                                    <input type="passowrd" class="form-control" id="floatingInput" name='new_password'
                                        placeholder="name@example.com">
                                    <label for="floatingInput">New Password</label>
                                </div>
                                <button class="btn btn-lg btn-dark" type="submit">Change Password</button>
                            </form>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <h1 class="py-2 h2 border-bottom">My Post</h1>
                        <section id="profile" class="py-4">
                            {% if news is None %}
                            <h1>You have no post.</h1>
                            {% else %}
                            {% for post in news %}
                            <div class="card mypost-card shadow-sm mb-4" bis_skin_checked="1">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="loader h-100" bis_skin_checked="1">
                                            <a href="{% url 'viewpost' id=post.id %}">
                                                <img src="/media/{{post.img}}" class="card-img-top" alt="{{post.img}}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="card-body " bis_skin_checked="1">
                                            <a href="{% url 'viewpost' id=post.id %}" class="line-1 mb-3">
                                                <h2 class="text-start custom-fw-700 custom-fs-20 text-dark">
                                                    {{post.post_title}}</h2>
                                            </a>
                                            <p class="card-text custom-fs-14 line-3">
                                                {{post.post_body}}
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center"
                                                bis_skin_checked="1">

                                                <div class="btn-group" bis_skin_checked="1">
                                                    <a href="{% url 'edit' id=post.id %}"
                                                        class="btn btn-sm btn-outline-secondary me-2">Edit</a>
                                                    <a href="{% url 'delete' id=post.id %}"
                                                        class="btn btn-sm btn-outline-secondary me-2">Delete</a>
                                                </div>

                                                <small class="text-muted">Nov. 18, 2021</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </section>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <h1 class="text-center my-5">Settings are yet to be added.</h1>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
{% endblock %}