{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="pb-4 mt-2 border-bottom text-center">
        <form action="search" class="d-flex search-nav" method="get" style="max-width:600px; margin: 20px auto;">
            <input type="search" name="query" required class="form-control me-2" placeholder="Search">
            <button class="bg-black rounded btn">
                <i class="fas fa-search text-white  custom-cursor-pointer "></i>
            </button>
        </form>
        <h1 class=" custom-fs-35 custom-fw-600 text-black text-break ">Search Result
            for : {{query}}</h1>
        <small class="text-center">{{len}} Results Found</small>
    </div>
    <div class="row my-3">
        {% if result %}
        {% for item in result %}
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="post-card card shadow-sm border-0" bis_skin_checked="1">
                <div class="loader">
                    {% if item.img is NULL %}
                    <a href="{% url 'viewpost' id=item.id %}">
                        <img src="https://picsum.photos/500/250" class="card-img-top" alt="{{item.post_title}}">
                    </a>
                    {% else %}
                    <a href="{% url 'viewpost' id=item.id %}">
                        <img src="/media/{{item.img}}" class="card-img-top" alt="{{item.post_title}}">
                    </a>
                    {% endif %}
                </div>

                <div class="card-body" bis_skin_checked="1">
                    <a href="{% url 'viewpost' id=item.id %}">
                        <h2 class="text-start custom-fw-700 custom-fs-25 text-dark">{{item.post_title}}</h2>
                    </a>
                    <p class="card-text mb-0">
                        {{item.post_body}}
                    </p>
                    <div class="btn-group my-2" bis_skin_checked="1">
                        <small class="text-muted text-capitalize">Posted by <strong>{{item.author}}
                            </strong>
                            <span class="px-2 py-1 bg-black rounded text-white">{{item.category}}</span></small>
                    </div>
                    <small class="text-muted">{{item.date_added}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="py-4 text-center">
            <h1 class="mb-3 custom-fs-28">It looks like there aren't any matches for your search</h1>
            <small>Tip: Try using words that might appear on the page you’re looking for. For example, "cake recipes"
                instead of "how to make a cake."</small>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}