{% extends 'base.html' %}

{% block navbar %}{% endblock %}

{% block content %}

<section class="py-3">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <a class="navbar-brand custom-fs-35 text-dark custom-fw-700 text-uppercase"
                        href="{% url 'index' %}">world
                        vision</a>
                </div>
                <main class="form-signin my-5 text-center">
                    <form method="post">
                        {% csrf_token %}
                        <h1 class="h3 mb-5 fw-normal">Please sign in</h1>

                        <div class="form-floating my-3" bis_skin_checked="1">
                            <input type="text" class="form-control" name="username" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating my-3" bis_skin_checked="1">
                            <input type="password" class="form-control" name="password" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        {% if messages %}
                        <div class="alert alert-warning" role="alert">
                            A simple warning alert—check it out!
                        </div>
                        {% endif %}
                        <button class="w-100 btn btn-lg btn-dark my-5" type="submit">Sign in</button>
                        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
                    </form>
                </main>
            </div>
        </div>
    </div>
</section>


{% endblock %}